<div class="sidebar">
    <% if(locals.preview && locals.animalData) { %>
        <% animalData.forEach(animal => { console.log(animal.name.replaceAll(" ", "")) %>
        <a href="../preview/<%= animal.name.replaceAll(" ", "").toLowerCase() %>" class="sidebar__btn"> <%= animal.name %>
        </a>
        <% }); %>
      
    <% } else if(locals.animalData) {%>
        <% animalData.forEach(animal => { console.log(animal.name.replaceAll(" ", "")) %>
            <a href="../<%= (animal.group +"/"+ animal.name).replaceAll(" ", "").toLowerCase() %>" class="sidebar__btn <% if(locals.url) { %> 
                <%= url ===  '/'+animal.name.toLowerCase().replaceAll(" ", "") ? 'active' : "" %>
                <%  } %> "><%= animal.name %></a>
          
            <% }); %>
                <% } %>
</div>